<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/imgs/LojasNossoLar.ico" type="image/x-icon">
    <title>Cupom de Carnaval</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
        }

        h1 {
            color: black;
            font-size: 2.75vw;
            margin-bottom: 30px;
            position: relative;
            z-index: 2; 
        }

        .confetti {
            position: absolute;
            width: 200px; 
            height: 200px; 
            background-image: url('/imgs/cupons/serpetina2.png'); 
            background-size: cover; 
            -webkit-animation: confetti 20s linear infinite; 
            animation: confetti 10s linear infinite; 
            z-index: 3; 
        }

        @-webkit-keyframes confetti {
            0% {
                -webkit-transform: translateY(-100vh) translateX(-50%); 
                transform: translateY(-100vh) translateX(-50%); 
            }
            100% {
                -webkit-transform: translateY(100vh) translateX(-50%); 
                transform: translateY(100vh) translateX(-50%); 
            }
        }

        @keyframes confetti {
            0% {
                -webkit-transform: translateY(-100vh) translateX(-50%); 
                transform: translateY(-100vh) translateX(-50%); 
            }
            100% {
                -webkit-transform: translateY(100vh) translateX(-50%); 
                transform: translateY(100vh) translateX(-50%); 
            }
        }

        .highlight {
            color: #52156C;
            font-size: 4vw;
            font-weight: bold;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }
    </style>
</head>
<body>
    <h1>Lembre-se de aplicar o cupom <span class="highlight">"CARNAVAL"</span> antes de finalizar a compra! Insira o código promocional no campo "Cupom de desconto" antes de concluir a transação e aproveite o desconto!</h1>
    
    <!-- Confetti Animation -->
    <script>
        function generateConfetti() {
            const container = document.body;
            const h1Position = document.querySelector('h1').getBoundingClientRect();
            const numConfetti = 5; 
            const confettiWidth = 50; 
            const spacing = window.innerWidth / numConfetti; 
            const animationDuration = -20; 

            for (let i = 0; i < numConfetti; i++) {
                const confetti = document.createElement('div');
                confetti.className = 'confetti';
                confetti.style.left = i * spacing + (spacing - confettiWidth) / 2 + 'px'; 
                confetti.style.top = h1Position.top - 30 + 'px'; 
                container.appendChild(confetti);
            }
        }

        generateConfetti();
    </script>
</body>
</html>
