body,html{
    margin: 0;
    overflow-x: hidden;
}

.text-center h3{
    color: black;
    font-weight: bolder;
    font-family: 'Anton', sans-serif;
    font-size: 5rem;
}

.text-center p{
    background-color: hsl(0, 0%, 100%);
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.63);
}

.imageContainerPrincipal{
    width: 100%;
}

.containerNumeroUm{
    margin-top: 5%;
}

.paragrafoOne{
    margin-top: -6%;
}

.containerNumeroUm p{
    text-align: left;
}

.icone{
    width: 12%;
    height: auto;
}

.titles{
    color: black;
    text-align: left;
    font-size: 3rem;
    font-weight: bolder;
}

.paragrafos{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.795);
}

.imgs{
    width: 100%; 
}