body {
    font-family: 'Noto Serif', serif;

    background: linear-gradient(to bottom, #2D952D,#2d952de1, #2d952dc7,#2b9c2bd7, #072201d7); 
}

.containerPrincipal, .containerInicial, .containerFinal, .container{
    width: 100%; 
    height: auto;
    background-color: red;
}

.img-fluid.logo {
    margin-left: 40%;
    margin-top: -8%;
    max-width: 30%;
    height: auto;
}

.Titulo {
    margin-top: -5%;
    margin-left: -8%;
    font-family: 'Anton', sans-serif;
    color: #ffeb3b;
    text-shadow: 2px 2px 4px rgba(6, 66, 3, 0.692);
    font-size: 2.9vw ; 
    line-height: 1.2; 
    letter-spacing: 1px; 
    text-align: left; 
    text-transform: uppercase;   
}

.TextHeader{
    margin-top: -2%;
    margin-left: -8%;
    font-family: 'Anton', sans-serif;
    color: #ffeb3b;
    text-shadow: 2px 2px 4px rgba(6, 66, 3, 0.692);
    font-size: 2.9vw; 
    line-height: 1.2; 
    letter-spacing: 1px; 
    text-align: left;
    text-transform: uppercase;
}

.TextCores {
    position: relative;
    left: 40%;
    top: 5vh;
    display: flex;
    width: 100%;
    padding: 5px;
    font-family: 'Anton', sans-serif;
    color: #ffeb3b;
    text-shadow: 2px 2px 4px rgba(6, 66, 3, 0.692);
    font-size: 2.9vw; 
    line-height: 1.2; 
    letter-spacing: 1px; 
    text-align: left;
    text-transform: uppercase;
}

.img-fluid.Rack{
    max-width: 150%;
    height: auto;
}

.Rack {
    margin-top: -17vw;
    margin-left: -10%;
    height: auto;
    transition: transform 0.3s;
}

.Rack:hover {
    transform: scale(1.1);
}

.img-fluid.Principal{
    border-radius: 20px;
}

.Principal {
    max-width: 100%;
    height: auto;
    margin-top: 20%;

}

.custom-align {
    margin-top: 20px;
}

.tittleP, .tittleP2 {
    font-family: 'Anton', sans-serif;
    color: #ffeb3b;
    text-shadow: 2px 2px 8px rgb(4, 49, 1);
    font-size: 2.9vw; 
    line-height: 1.2; 
    letter-spacing: 1px; 
    text-align: left;
    text-transform: uppercase;
}

.pText {
    font-size: 0.9vw;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.Dimensoes {
    width: 100%;
    height: auto;
    margin-top: 3%;
    font-family: 'Anton', sans-serif;
    color: #ffeb3b;
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgb(4, 49, 1);
    font-size: 3.9vw;  
    line-height: 1.2; 
    letter-spacing: 1px; 
    text-align: center;
    text-transform: uppercase;
}

.img-fluid.medidas {
    position: relative;
    left: 30%;
    max-width: 150%;
    height:auto;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.custom-alignDois {
    margin-top: 20px;
    position: relative;
    left: 30%;
}

.pText2 {
    font-size: 0.9vw;
    position: relative;
    right: 12%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;

}
 
.Pdf {
    position: relative;
    left: 65%;
    background-color: #2D952D;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 100px; 
    text-align: center; 
    font-size: 1vw; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.Pdf:hover {
    background-color: #1F7D1F;
    text-decoration: none; 
    color:white
}


.highlight-text {
    max-width: 100%;
    font-weight: bold;
    color: #ffeb3b;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px 8px rgb(4, 49, 1);
    font-size: 1.5vw; 
    line-height: 1.2; 
    letter-spacing: 1.5px; 
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    html,body{
        overflow-x: hidden;
    }
  
    .img-fluid.logo {
        margin-left: 4%;
    }

    .Titulo {
    margin-left: 7%;
    font-size: 5vw;
    }

    .TextHeader{
        margin-left:7%;
        font-size: 5vw;
    }
   
    .TextCores {
        top: 10vw;
        width: 60%;
        font-size: 4vw;
    }

    .img-fluid.Rack{
        margin-top: -20vw;
        margin-bottom: 3%;
        margin-left: 2%;
        max-width: 100%;
    }

    .Rack:hover {
        transform: none;
    }

    .img-fluid.Principal{
        max-width: 100%;
    }
    
    .Principal {
        position: relative;
        margin-top: -10vw;
    }
    
    .custom-align {
        position: relative;
        margin-top: 5vw;
    }

    .tittleP,.tittleP2{
        font-size: 5vw;
    }
    
    .pText, .pText2 {
        font-size: 2.2vw;
    }
    
    .Dimensoes {
        margin-top: 0%;
    }
    
    .img-fluid.medidas {
        position: relative;
        left: 0vw;
        max-width: 100%;
    }
    
    .custom-alignDois {
        margin-top: 20px;
    }
    
    .pText2 {
        position: relative;
        right: 30%;
        max-width: 96%;   

    }
    
    .Pdf {
        font-size: 2vw;
      
    }
    
    .highlight-text {
        font-weight: lighter;
        font-size: 2.5vw; 

    }

}
  
@media screen and (min-width: 769px) and (max-width: 1476px){
      
    .img-fluid.logo {
        margin-left: 4%;
    }

    .Titulo {
        margin-left: -30%;
        font-size: 4vw;
    }

    .TextHeader{
        margin-left: -30%;
        font-size: 4vw;
    }
    
    .TextCores {
        top: 2vw;
        width: 100%;
        font-size: 4vw;
    }

    .img-fluid.Rack{
        margin-top: -25vw;
        margin-bottom: -20%;
        max-width: 140%;
    }

    .img-fluid.Principal{
        max-width: 100%;
    }
    
    .Principal {
        position: relative;
        margin-top: 28vw;
    }
    
    .custom-align {
        position: relative;
        margin-top: 5vw;
    }

    .tittleP,.tittleP2{
        font-size: 3.5vw;
    }
    
    .pText, .pText2 {
        font-size: 1.6vw;
    }
    
    .Dimensoes {
        margin-top: 4%;
    }
    
    .img-fluid.medidas {
        position: relative;
        left: 15vw;
        max-width: 130%;
    }
    
    .custom-alignDois {
        margin-top: 20px;
    }
    
    .tittleP2{
       margin-left: 5%;
    }

    .pText2 {
        margin-left: 5%;  

    }

    .Pdf {
        font-size: 1.5vw;
      
    }
    
    .highlight-text {
        font-weight: lighter;
        font-size: 2.5vw; 

    }

}
    

































