body {
    font-family: 'Noto Serif', serif;
    background-color: red;
}

.containerInicial, .containerFinal,.containerImgDois,.containerText{
    max-width: 100%; 
    height: auto;
    background-color: red;
}

.containerFinal{
    padding-bottom: 1%;
}

.containerImg{
    padding: 2%;
    margin-top: -5%;
    background-color: white;
}

.img-fluid.logo {
    margin-left: 30%;
    margin-top: -9%;
    max-width: 30%;
    height: auto;
}

.Titulo {
    margin-top: -6%;
    margin-left: 33%;
    font-family: 'Anton', sans-serif;
    color: #ffeb3b;
    text-shadow: 2px 2px 4px rgba(6, 66, 3, 0.692);
    font-size: 2.9vw ; 
    line-height: 1.2; 
    letter-spacing: 1px; 
    text-align: left; 
    text-transform: uppercase;   
}

.TextHeader{
    margin-top: -2%;
    margin-left: 33%;
    font-family: 'Anton', sans-serif;
    color: #ffeb3b;
    text-shadow: 2px 2px 4px rgba(6, 66, 3, 0.692);
    font-size: 2.9vw; 
    line-height: 1.2; 
    letter-spacing: 1px; 
    text-align: left;
    text-transform: uppercase;
}

.TextCores {
    position: relative;
    left: 85%;
    top: 8vh;
    display: flex;
    width: 80%;
    padding: 5px;
    font-family: 'Anton', sans-serif;
    color: #ffeb3b;
    text-shadow: 2px 2px 4px rgba(6, 66, 3, 0.692);
    font-size: 2.9vw; 
    line-height: 1.2; 
    letter-spacing: 1px; 
    text-align: left;
    text-transform: uppercase;
}

.bola {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 62vw;
    display: inline-block;
    position: absolute;
    z-index: 1;
    display: none; 
  }

.Noronha-Off-White {
  background-color: #ffffff; 
}

.Noronha-Grafite {
  background-color: #808080;
}

.tooltip {
  width: 100%;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12vw;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.bola:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.img-fluid.Rack{
    max-width: 150%;
    height: auto;
}

.Rack {
    margin-top: -18vw;
    margin-left: 45%;
    height: auto;
    transition: transform 0.3s;
}

.Rack:hover {
    transform: scale(1.1);
}

.img-fluid.Principal{
    max-width: 100%;
    height: auto;
    margin-left: 50%;
    background-color: white;
    border-radius: 20px;
}

.containerText{
    padding: 2%;
}

.TitleText{
    margin-left: 26%;
}

.tittleP {
    font-family: 'Anton', sans-serif;
    color: #ffeb3b;
    text-shadow: 2px 2px 8px rgb(4, 49, 1);
    font-size: 2.5vw; 
    line-height: 1.2; 
    letter-spacing: 1px; 
    text-transform: uppercase;
}

.pText {
    font-size: 1vw;
    margin-top: 2%;
    background-color: white;
    border-radius: 20px;
    padding: 3%;
}

.Dimensoes {
    width: 100%;
    height: auto;
    font-family: 'Anton', sans-serif;
    color: #ffeb3b;
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgb(4, 49, 1);
    font-size: 3.9vw;  
    line-height: 1.2; 
    letter-spacing: 1px; 
    text-align: center;
    text-transform: uppercase;
}

.containerImgDois{
    background-color: white;
    padding: 2%;
    margin-top: -7%;
}

.img-fluid.medidas {
    position: relative;
    left: 50%;
    max-width: 100%;
    height:auto;
    border-radius: 20px;
}

.custom-alignDois {
    margin-top: 20px;
    position: relative;
    left: 30%;
}

.tittleP2 {
    font-family: 'Anton', sans-serif;
    color: #ffeb3b;
    text-shadow: 2px 2px 8px rgb(4, 49, 1);
    font-size: 2.9vw; 
    line-height: 1.2; 
    letter-spacing: 1px; 
    text-align: left;
    text-transform: uppercase;
}

.pText2 {
    font-size: 0.9vw;
    position: relative;
    right: 12%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;

}
 
.Pdf {
    position: relative;
    left: 65%;
    background-color: #2D952D;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 100px; 
    text-align: center; 
    font-size: 1vw; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.Pdf:hover {
    background-color: #1F7D1F;
    text-decoration: none; 
    color:white
}

.highlight-text {
    max-width: 50%;
    font-weight: bold;
    color: #ffeb3b;
    margin-left: 25%;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px 8px rgb(4, 49, 1);
    font-size: 1.5vw; 
    line-height: 1.2; 
    letter-spacing: 1.5px; 
    text-align: left;
    text-transform: uppercase;
}




@media screen and (max-width: 768px) {
    html,body{
        overflow-x: hidden;
    }
  
    .img-fluid.logo {
        margin-left: 4%;
    }

    .Titulo {
    margin-left: 7%;
    font-size: 5vw;
    }

    .TextHeader{
        margin-left:7%;
        font-size: 5vw;
    }
   
    .TextCores {
        top: 10vw;
        width: 60%;
        font-size: 4vw;
    }

    .img-fluid.Rack{
        margin-top: -20vw;
        margin-bottom: 3%;
        margin-left: 2%;
        max-width: 100%;
    }

    .Rack:hover {
        transform: none;
    }

    .img-fluid.Principal{
        max-width: 100%;
    }
    
    .Principal {
        position: relative;
        margin-top: -10vw;
    }
    
    .custom-align {
        position: relative;
        margin-top: 5vw;
    }

    .tittleP,.tittleP2{
        font-size: 5vw;
    }
    
    .pText, .pText2 {
        font-size: 2.2vw;
    }
    
    .Dimensoes {
        margin-top: 0%;
    }
    
    .img-fluid.medidas {
        position: relative;
        left: 0vw;
        max-width: 100%;
    }
    
    .custom-alignDois {
        margin-top: 20px;
    }
    
    .pText2 {
        position: relative;
        right: 30%;
        max-width: 96%;   

    }
    
    .Pdf {
        font-size: 2vw;
      
    }
    
    .highlight-text {
        font-weight: lighter;
        font-size: 2.5vw; 

    }

}
  
@media screen and (min-width: 769px) and (max-width: 1476px){
      
    .img-fluid.logo {
        margin-left: 4%;
    }

    .Titulo {
        margin-left: -30%;
        font-size: 4vw;
    }

    .TextHeader{
        margin-left: -30%;
        font-size: 4vw;
    }
    
    .TextCores {
        top: 2vw;
        width: 100%;
        font-size: 4vw;
    }

    .img-fluid.Rack{
        margin-top: -25vw;
        margin-bottom: -20%;
        max-width: 140%;
    }

    .img-fluid.Principal{
        max-width: 100%;
    }
    
    .Principal {
        position: relative;
        margin-top: 28vw;
    }
    
    .custom-align {
        position: relative;
        margin-top: 5vw;
    }

    .tittleP,.tittleP2{
        font-size: 3.5vw;
    }
    
    .pText, .pText2 {
        font-size: 1.6vw;
    }
    
    .Dimensoes {
        margin-top: 4%;
    }
    
    .img-fluid.medidas {
        position: relative;
        left: 15vw;
        max-width: 130%;
    }
    
    .custom-alignDois {
        margin-top: 20px;
    }
    
    .tittleP2{
       margin-left: 5%;
    }

    .pText2 {
        margin-left: 5%;  

    }

    .Pdf {
        font-size: 1.5vw;
      
    }

    .highlight-text {
        font-weight: lighter;
        font-size: 2.5vw; 

    }

}
    




























