<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imgs/LojasNossoLar.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/cronometro/Configuração Cronometro.css">
    <title>Cronômetro</title>
</head>
<body>

  <h1>Configurar Cronômetro</h1>

  <label for="hours">Horas:</label>
  <input type="number" id="hours" name="hours" min="0" placeholder="0" required>
  
  <label for="minutes">Minutos:</label>
  <input type="number" id="minutes" name="minutes" min="0" placeholder="0" required>
  
  <br>

  <button onclick="setTimer()">Configurar Cronômetro</button>

  <br>

  <script>
    function setTimer() {
      var hours = document.getElementById("hours").value;
      var minutes = document.getElementById("minutes").value;

      var totalTimeInSeconds = (parseInt(hours) * 3600) + (parseInt(minutes) * 60);

      // Salvar o tempo restante no localStorage
      localStorage.setItem('totalTimeInSeconds', totalTimeInSeconds);

      var url = "/cronometro?hours=" + encodeURIComponent(hours) + "&minutes=" + encodeURIComponent(minutes);

      window.open(url, '_blank');
    }
  </script>
  
</body>
</html>
