<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imgs/LojasNossoLar.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/cronometro/Configuração Cronometro.css">
    <title>Exibir Cronômetro</title>
</head>
<body>

  <div id="countdown-display"></div>

  <script>
    var countdownInterval;

    function startCountdown(totalTimeInSeconds) {
      clearInterval(countdownInterval);
  
      var displayElement = document.getElementById("countdown-display");
  
      countdownInterval = setInterval(function() {
        var hoursRemaining = Math.floor(totalTimeInSeconds / 3600);
        var minutesRemaining = Math.floor((totalTimeInSeconds % 3600) / 60);
  
        displayElement.innerHTML = "Tempo Restante: " + hoursRemaining + " horas e " + minutesRemaining + " minutos";

        if (totalTimeInSeconds <= 0) {
          clearInterval(countdownInterval);
          displayElement.innerHTML = "Cronômetro zerado!";
        } else {
          // Decrementar o tempo restante
          totalTimeInSeconds--;

          // Atualizar o tempo restante no localStorage
          localStorage.setItem('totalTimeInSeconds', totalTimeInSeconds);
        }
      }, 1000); 
    }
    
    // Recuperar o tempo restante do localStorage
    var storedTime = localStorage.getItem('totalTimeInSeconds');
    var totalTimeInSeconds = storedTime ? parseInt(storedTime) : 0;

    // Se o tempo restante for maior que 0, iniciar o cronômetro
    if (totalTimeInSeconds > 0) {
      startCountdown(totalTimeInSeconds);
    }
  </script>

</body>
</html>
