<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/imgs/LojasNossoLar.ico" type="image/x-icon">
  <link rel="stylesheet" href="/styles/eletro/lavadoras/brastempBwK13.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Noto+Serif:wght@400&display=swap" rel="stylesheet">
  <title>Brastemp Bw k13</title>

</head>
<body>
  <div class="container">

    <div class="containerInicial">
      <h1 class="heading">Nova Lavadora Brastemp BWK13</h1>
    </div>

    <div class="containerPrincipal">
      <p class="paragraphInicial">
        É outra lavadora<br/>É outro mundo
      </p>
      <img class="img-fluid imageFamilia" src="/imgs/eletro/lavadoras/bwk13/image2.png"alt="Familia"/> 
    </div>
    

    <div class="containerMeio"> 
      <p class="title">
        Cama, Banho, Jeans, Casaco... <br/>até Edredom pode ser lavado sem preocupação e sem esforço!
      </p>
      <img src="https://assets-global.website-files.com/65ccb82957427e91f1742e88/65cd02b99bfea9513f3b6ad9_f6aa4a58-9398-45ee-836c-ec5db0e1138a___f609b6779342b1a649ed15068c3c06ef.webp" loading="lazy" class="img-fluid lavadora" alt="Lavadora Brastemp em ação"/>
      <p class="titleDois">
        <strong>Uma mão lava a outra</strong> e 
        <strong>nenhuma lava a roupa.</strong>
      </p>
    </div>

    <div class="containerSemiFinal">
      <div class="row">
        <div class="col-md-6">
          <img src="https://assets-global.website-files.com/65ccb82957427e91f1742e88/65cd03e371dc21b710ef478f_de299ca0-a348-4e44-9a52-03b51432dae4___9ad706b7c85169af60a9966e80b655d0.webp" loading="lazy" class="img-fluid cestoInox" alt="Cesto Inox"/>
        </div>
        <div class="col-md-6">
          <p class="titleTres">Cesto inox</p>
          <p class="paragraphDois">Toda modernidade do acabamento inox no interior da sua lavadora.</p>
        </div>
      </div>
    </div>

    <div class="containerFinal">
      <div class="row">
        <p class="titlePainelDigital">Painel Digital</p>
        <p class="paragraph"> Design moderno e resistente à água.</p>


        <div class="col-md-6">
          <img src="https://assets-global.website-files.com/65ccb82957427e91f1742e88/65cd0be840e14b279a557afb_93739c6b-68ab-4c07-bf5b-a69c72942141___e9868a4dbf3f86905265b278b4bfaca2.webp" loading="lazy" class="img-fluid painelDigital" alt="Painel Digital"/>
        </div>
      </div>
    </div>

    <div class="containerVideo">
      <p class="titleVideo">Veja o produto em ação</p>

      <iframe  class="video" src="https://www.youtube.com/embed/f0_pKIYrQzc?si=sa6H-89-F7mDSyH_" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="buttonDownload container">
      <div class="download-button">
        <a class="Pdf" href="https://github.com/claysonAlves12/IframesLojasNossoLar/raw/main/src/public/pdfs/eletro/lavadora/Brastemp_Lavadora_BWK13AB.pdf" download="Brastemp_Lavadora_BWK13AB.pdf">Baixe o Manual</a>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
