
/* tabela de btus estilos */
.containerBtus {
    max-width: 600px;
    margin: 50px 255px 20px 255px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #333333;
}
.containerBtus p {
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.containerBtus p:last-child {
    margin-bottom: 0;
}
.botao{
    background-color: #33BC40;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 50px;
}
.botao:hover {
    background-color: #008000;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.726);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}
#lista {
    position: absolute;
    top: 5vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    max-height: 750px;
    overflow-y: auto;
}
#fecharLista {
    position: relative;
    top: 1vh;
    left: 93%;
    margin-bottom: 15px;
}
ul {
    list-style: none;
    padding: 0 10px 0 10px;
}
.table{
    border-collapse: collapse;
}
.table thead th {
    border-top: none;
}
.table th, .table td {
    width: 5%;
    padding: 1%;
}
.tdFinal{
    text-align: center;
}
.paragrafoDaDica{
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 0 2% 0 2%;
}
tbody tr:nth-child(even) {
    background-color: rgb(6, 114, 6);
    color: white;
}
tbody tr:nth-child(odd) {
    background-color: rgba(248, 248, 248, 0.541);
}

@media screen and (min-width: 992px) and (max-width:1200px){
    .containerBtus {
        width: 600px;
        margin: 50px 100px 20px 160px;
    }
}

@media screen and (min-width: 768px) and (max-width:992px){
    .containerBtus {
        width: 600px;
        margin: 20px 0px 20px 45px;
    }
}

@media screen and (min-width: 576px) and (max-width:767px){
    .containerBtus {
        width: 500px;
        margin: 0;
        margin-left:5px;
    }
    #lista{
       width: 500px;
       height: 550px;
    }
}

@media screen and (min-width: 0px) and (max-width:575px){
    .containerBtus {
        width: 100%;
        margin:0 0px 20px 0px;
    }

    #lista{
        width: 90%;
        height: 550px;
     }
 
}

