<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/styles/Samsung-Galaxy-A03/Samsung-Galaxy-A03.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/imgs/LojasNossoLar.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="path/to/bootstrap.min.css" rel="stylesheet">
    <title>Samsung - Galaxy A03</title>


<body>

   <div class="container">
        <section class="row">
            <div class="col-md-6 col-sm-12 col-lg-6"> 
                <figure>     
                    <img class="logo" src="/imgs/Rack JCM Luz Noronha até 56/logo.png" alt="">
                </figure>
                <img class="imgSamsung"  src="/imgs/Samsung-Galaxy-A03/_04.webp" alt="">
                <div>
                    <header>
                        <h2 class="titleGalaxy">Galaxy A03</h2>
                    </header>
        
                    <figure>
                        <img  class="imgsPrincipal" src="/imgs/Samsung-Galaxy-A03/_05.webp" alt="">
                    </figure>
        
                    <figure>
                        <img class="imgsPrincipal" src="/imgs/Samsung-Galaxy-A03/_06.webp" alt="">
                    </figure>
        
                    <figure>
                        <img  class="imgsPrincipal" src="/imgs/Samsung-Galaxy-A03/_07.webp" alt="">
                    </figure>
                </div>
        
                <figure>
                    <img  class="imgsPrincipal" src="/imgs/Samsung-Galaxy-A03/1212.webp" alt="">
                </figure>
            </div>
        
            <div class="col-md-6 col-sm-12 col-lg-6"> 
                <figure>
                    <img class="cores" src="/imgs/Samsung-Galaxy-A03/_08.jpg" alt="" >
                </figure>
            </div>
        </section>
        
        <section>
            <header>
                <h2 class="title">Mais display, mais espaço para jogar</h2>
                <p class="parag">Amplie a sua visão para o display infinito de 6,5 polegadas do Galaxy A03 e veja o que você pode estar perdendo. E, com a tecnologia HD+, seu conteúdo aparece nítido, com contraste e claro. </p>
            </header>
        </section>

        <section style="margin-bottom: 3%;">
            <article>
                <figure>
                    <img src="/imgs/Samsung-Galaxy-A03/_09.webp" alt=""style="width:100%">
                </figure>
            </article>
    
            <p class="text-center mb-0  subParag1">* Imagem simulada para fins ilustrativos. <br> **Medida diagonalmente, o tamanho da tela é de 6.5" no retângulo completo e de 6.3" considerando os cantos arredondados. A área visível real é menor devido aos cantos arredondados e ao corte da câmera.
            </p>  
        </section>

        <div class="container">
            <section">
                <header>
                    <h2 class="titleAp" >Aparência tão incrível quanto o toque</h2>
                    <p class="parag2">O Galaxy A03 combina uma estética de design fino com acabamento fosco suave na parte traseira. As curvas refinadas o tornam confortável de segurar e fornecem uma navegação fácil na tela. Escolha entre as cores Preta, Azul ou Vermelha.
                    </p>
                </header>
        
                <article class="mx-auto pt-3">
                    <figure>
                        <img src="/imgs/Samsung-Galaxy-A03/_03.webp" alt=""style="width:100%">
                    </figure>
                </article>
        
                <p class="text-center mb-0 subParag1">*A disponibilidade de cor pode variar conforme o país ou a operadora.
                </p>
            </section> 
        </div>

        <div class="container">
            <section class="row" style="margin-top: 3%;">
                <div class="col-md-6 col-sm-12 col-lg-6">
                    <header>
                        <h2 class="title2">Capture seu mundo de diversas maneiras com a Câmera Dupla</h2>
                        <p class="parag3">O Galaxy A03 possui uma Câmera Principal de 48 MP para fotos incríveis do dia a dia. Você pode inclusive  ajustar o foco de fundo e primeiro plano com os efeitos Live Focus da Câmera de Profundidade de 2MP.</p>
                    </header>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-6">
                    <figure class="camera">
                        <img src="/imgs/Samsung-Galaxy-A03/_04(1).webp" alt="" class="img-fluid">
                    </figure>
                </div>
            </section>
        </div>
        
        <section>
            <header class="text-center">
                <h2 class="titleFoco">Traga o foco à frente, com a Câmera de Profundidade</h2>
                <p class="parag">A Câmera de Profundidade de 2MP permite ajustar a profundidade de campo em suas fotos. Com um simples toque, você pode facilmente ajustar o desfoque de fundo atrás do seu modelo para retratos de alta qualidade.</p>
            </header>
        
            <div class="containerImgs">
                <a class="imgNav" onclick="toggleImage('wide')">
                    <img class="img2" src="/imgs/Samsung-Galaxy-A03/07.webp" alt="Ângulo Wide">
                </a>
                <a class="imgNav" onclick="toggleImage('ultra-wide')">
                    <img class="img1" src="/imgs/Samsung-Galaxy-A03/06.webp" alt="Ângulo Ultra Wide">
                </a>
            </div>
            
            <div id="image-container" style="position: relative;left: 3%;">
                <img id="wide-image" src="/imgs/Samsung-Galaxy-A03/_12.webp" alt="Ângulo Wide" style="width: 100%;">
                <img id="ultra-wide-image" src="/imgs/Samsung-Galaxy-A03/_22.webp" alt="Ângulo Ultra Wide" style="width: 100%;">
            </div>
        
            <script>
                function toggleImage(angle) {
                    // Esconde todas as imagens
                    const images = document.querySelectorAll('#image-container img');
                    images.forEach(image => image.classList.remove('active'));
        
                    // Mostra a imagem correspondente ao ângulo clicado
                    document.getElementById(`${angle}-image`).classList.add('active');
        
                    // Remove a classe 'active' de todos os links
                    const links = document.querySelectorAll('.nav-link');
                    links.forEach(link => link.classList.remove('active'));
        
                    // Adiciona a classe 'active' ao link clicado
                    event.target.classList.add('active');
                }
        
                // Exibir a primeira imagem ao carregar a página
                window.onload = function() {
                    toggleImage('wide');
                };
            </script>

            <p class="text-center text-bottom subParag1" style="margin-top: 2%;">*Simulação de imagens para fins ilustrativos.</p>
        </section>

        <section class="row" style="margin-top:4%; margin-bottom: 5%;">
            <div class="col-md-6">
                <figure>
                    <img class="selfie" src="/imgs/Samsung-Galaxy-A03/_05(1).webp" alt="">
                    <p class="txt__bottom txt__left subParag2">* Imagem simulada para fins ilustrativos.
                    </p>
                </figure>
            </div>
            <div class="col-md-6">
                <article class="margin__auto">
                    <aside>
                        <header>
                            <h2 class="title3">Selfies que se destacam com a Câmera Frontal
                            </h2>
                            <p class="parag4">Com o efeito Live Focus adicionado à Câmera Frontal de 5MP, você pode tirar selfies impressionantes que exibem mais você e menos o fundo.
                            </p>
                          
                        </header>
                    </aside>
                </article>
            </div>
        </section>



        <div class="container">
            <header class="text-center celular">
                <h2 class="title">Vá além da experiência de áudio comum com Dolby Atmos
                </h2>
                <p class="parag2">Basta conectar seus fones de ouvido para ser transportado para dentro de suas músicas e filmes. Com o Dolby Atmos, você ouvirá um som claro, que parece te incorporar à cena.
                </p>
            </header>
    
            <article>
                <figure>
                    <img src="/imgs/Samsung-Galaxy-A03/_06(1).webp" alt="" class="img-fluid">
                </figure>
            </article>
    
            <p class="text-center mb-0 subParag1">* Dolby Atmos oferece suporte apenas a fones de ouvido estéreo e alto-falantes BT. <br> ** Dolby Atmos está disponível apenas quando o modo Dolby Atmos está ativado em Configurações. <br> *** Fones de ouvido vendidos separadamente.
            </p>

        
            <section style="margin-top: 5%;">
                <header class="text-center">
                    <h2 class="title">
                        Armazenamento e velocidade que não te deixam na mão
                    </h2>
                    <p class="parag">
                        O Galaxy A03 combina a potência de processamento Octa-core com até 4GB de RAM para um desempenho rápido e eficiente. Aproveite os 64GB de armazenamento interno ou adicione ainda mais espaço com um cartão microSD de até 1 TB.
                    </p>
                </header>
        
                <article class="mx-auto">
                    <figure class="pt-3">
                        <img src="/imgs/Samsung-Galaxy-A03/_17.webp" alt="" class="img-fluid">
                    </figure>
                </article>
        
                <p class="text-center mb-0 subParag1" >*RAM e a capacidade de memória interna podem variar de acordo com o país. O armazenamento real disponível pode variar dependendo do software pré-instalado. <br> **Cartões MicroSD são vendidos separadamente.
                </p>
            </section>
        </div>


        <div class="container">
            <header class="text-center" style="margin-top: 6%;">
                <h2 class="title">
                    Siga em frente com uma bateria potente
                </h2>
    
                <p class="parag">
                    Fique à frente do dia com uma bateria que não vai te deixar na mão. A bateria de 5.000 mAh (típica)¹ permite que você continue realizando suas atividades, por horas.
                </p>
            </header>
    
            <article class="mx-auto">
                <figure class="pt-3">
                    <img src="/imgs/Samsung-Galaxy-A03/_90.webp" alt="" class="img-fluid">
                </figure>
            </article>
    
            <p class="text-center mb-0 subParag1">
                1. Valor padrão testado em condições de laboratório terceirizado. O valor padrão é o valor médio estimado considerando o desvio na capacidade <br> da bateria entre as amostras de bateria testadas sob o padrão IEC 61960. A capacidade nominal(mínima) é de 4.900 mAh. A duração real da bateria pode variar dependendo do ambiente de rede, padrões de uso e outros fatores.
            </p>
        
            <section class="row" style="margin-top: 5%;">
                <div class="col-md-6" >
                    <figure>
                        <img  class="OneUiCore" src="/imgs/Samsung-Galaxy-A03/_92.webp" alt="" class="img-fluid" style="width: 60%;">
                    </figure>
                </div>

                <div class="col-md-6">
                    <article>
                        <aside>
                            <header>
                                <h2 class="title5">
                                    Concentre-se com o One Ul Core
                                </h2>
                                <p class="parag5">Aproveite movimentos suaves e um design encantador com One Ul Core. Otimizado para qualquer tamanho de tela, ele permite que você se concentre no que importa de maneira confortável e intuitiva. Com One Ul Core, você pode personalizar seu celular como quiser e aproveitar totalmente sua experiência Galaxy.</p>
            
                                <p class="text-left mb-0 subParag3">*A disponibilidade dos recursos One Ul, apps e serviços podem variar dependendo do aparelho, versão de OS e país.** Simulação de aparelho e imagens para fins ilustrativos.
                                </p>
                            </header>
                        </aside>
                    </article>
                </div>
            </section>
            
        </div>
        
        <div class="container">
            <section class="row">
                <article class="col-md-6 margin__auto">
                    <aside>
                        <header>
                            <h2 class="title6">Uma experiência sempre incrível com o Android"</h2>
            
                            <p class="parag6">Tenha os aplicativos Google mais recentes no <br> sistema operacional Android, totalmente <br> compatíveis com seu Galaxy A03</p>
            
                            <p class="text-left mb-0 subParag1">*A disponibilidade dos apps da Google pode variar, dependendo do país ou idioma. <br> **Google, Android, Google Play, YouTube e outras marcas são marcas registradas de Google LLC.</p>
                        </header>
                    </aside>
                </article>
            
                <figure class="col-md-6 pt-3">
                    <img src="/imgs/Samsung-Galaxy-A03/_98.webp" alt="" class="img-fluid google">
                </figure>
            </section>
            
            <section style="margin-top: 5%;">
                <header class="text-center">
                    <h2 class="title">
                        Sempre a seu dispor, a qualquer momento e em qualquer lugar
                    </h2>
                    <p class="parag">Aproveite a tranquilidade ao comprar um smartphone Galaxy. Os diagnósticos interativos e a otimização do aplicativo Samsung Members facilitam a melhoria de desempenho dos seus dispositivos, enquanto nossa linha de assistência
                    permite a resolução de problemas quando você precisar de assistência extra.
                    </p>
                </header>
        
                <article class="mx-auto">
                    <figure class="pt-3">
                        <img src="/imgs/Samsung-Galaxy-A03/_99.webp" alt="" class="img-fluid">
                    </figure>
                </article>
        
                <p class="text-center mb-0 subParag1">*As funções e características disponíveis para o aplicativo dos Membros Samsung podem variar de acordo com o país e o dispositivo.
                </p>
            </section>
        
            <section class="text-center"style="margin-top:2%">
                <figure class="mx-auto">
                    <img src="/imgs/Samsung-Galaxy-A03/imagem-SSG-S1FE.webp" alt="" class="img-fluid">
                </figure>
            </section>
        </div>
    </div>
        
</body>
</html>