<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imgs/LojasNossoLar.ico" type="image/x-icon">
    <title>G-Top Plus 9000</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body, html{
            margin: 0;
            overflow-x: hidden;
        } 

        .imagem-centralizada {
            max-width: 100%;
            height: auto;
        }

        .buttonDownload {
            padding: 2%;
            background-color: #0141A2;
        }
        .download-button a {
            display: inline-block;
            padding: 1% 3%;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            font-size: 2vw;
            transition: background-color 0.3s;
        }
        .download-button a:hover {
            background-color: #45a049;
        }

        @media screen and (max-width: 798px) {
            .download-button a {
                font-size: 3vw;
            }
        }
    </style>
</head>
<body>
 

    <div class="container text-center container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <img src="https://raw.githubusercontent.com/claysonAlves12/IframesLojasNossoLar/main/src/public/imgs/eletro/ar-condicionados/Green/G-Top%20Plus/G-Top-Plus9000.webp?token=GHSAT0AAAAAACONCDVMUSZCK4OXDDNAO25UZOTITZQ" alt="Gree G Top plus" class="imagem-centralizada">
            </div>
        </div>
        <div class="buttonDownload container">
            <div class="download-button">
                   <a class="Pdf" href="https://github.com/claysonAlves12/IframesLojasNossoLar/raw/main/src/public/pdfs/eletro/arCondicionados/G-top-connection-inverter/Manual-G-TOP-INVERTER-Rev-001-10.08.2022-FINAL-1.pdf" download="Manual G-TOP INVERTER.pdf">Baixe o Manual</a>
            </div>
        </div>
    </div>
        

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
