<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imgs/LojasNossoLar.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/eletro/ar-condicionados/Tcl/style.css">
    <link rel="stylesheet" href="/styles/eletro/ar-condicionados/tabelaDeBtus.css">
    <title>Split TCL Hi Wall 09CSA1</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
  
    <div class="container">

        <div class="text-center">
            <div class="text-left containerBtus">
                <p>Está com dúvidas sobre qual ar condicionado escolher?<br>Encontre o modelo perfeito para manter seu espaço fresco e confortável durante o calor!</p>
            </div>
            <button id="mostrarLista" class="botao">Descubra agora!</button>
        </div>

        <div class="overlay" id="overlay">
            <div id="lista">
                <button id="fecharLista" class="btn btn-danger">x</button>
                <p class="paragrafoDaDica"><strong>Sabe o que significa BTU?</strong> É a medida da capacidade de refrigeração do ar condicionado. Confira a tabela abaixo para fazer a escolha certa na hora da compra.</p>
                <ul>
                    <li>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Tamanho do ambiente</th>
                                    <th >Sol da manhã</th>
                                    <th >Sol da tarde ou dia todo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>9 m²</td>
                                    <td>7.000 BTU/h</td>
                                    <td class="tdFinal">7.500 BTU/h</td>
                                </tr>
                                <tr>
                                    <td>12 m²</td>
                                    <td>7.500 BTU/h</td>
                                    <td class="tdFinal">9.000 BTU/h</td>
                                </tr>
                                <tr>
                                    <td>15 m²</td>
                                    <td>9.000 BTU/h</td>
                                    <td class="tdFinal">12.000 BTU/h</td>
                                </tr>
                                <tr>
                                    <td>20 m²</td>
                                    <td>12.000 BTU/h</td>
                                    <td class="tdFinal">18.000 BTU/h</td>
                                </tr>
                                <tr>
                                    <td>25 m²</td>
                                    <td>18.000 BTU/h</td>
                                    <td class="tdFinal">22.000 BTU/h</td>
                                </tr>
                                <tr>
                                    <td>30 m²</td>
                                    <td>23.000 BTU/h</td>
                                    <td class="tdFinal">24.000 BTU/h</td>
                                </tr>
                                <tr>
                                    <td>40 m²</td>
                                    <td>24.000 BTU/h</td>
                                    <td class="tdFinal">30.000 BTU/h</td>
                                </tr>
                                <tr>
                                    <td>50 m²</td>
                                    <td>31.000 BTU/h</td>
                                    <td class="tdFinal">36.000 BTU/h</td>
                                </tr>
                                <tr>
                                    <td>60 m²</td>
                                    <td>36.000 BTU/h</td>
                                    <td class="tdFinal">48.000 BTU/h</td>
                                </tr>
                                <tr>
                                    <td>70 m²</td>
                                    <td>42.000 BTU/h</td>
                                    <td class="tdFinal">58.000 BTU/h</td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>

            </div>
        </div>

        <div class="containerIncial">
            <div class="text-center">
                <h3>CONVENCIONAL FRIO</h3>
                <p>Valorize o seu bem-estar com o Ar Condicionado TCL Elite Series A1.</p>
            </div>
            
            <div class="imageContainerPrincipal">
                <img src="/imgs/eletro/ar-condicionados/Tcl/KV-SERIE-A1-1.webp" alt="Ar Condicionado TCL Elite Series A1" class="img-fluid">
            </div>
        </div>

        <div class="containerNumeroUm">
            <div class="row align-items-center">
                <div class="col-md-6 paragrafoOne ">
                    <img class="icone" src="/imgs/eletro/ar-condicionados/Tcl/Filtro-HD-Silver-Ion.webp" alt="">
                    <p class="titles" >Filtro HD Silver Ion + Carvão ativado</p>
                    <p class="paragrafos">Retém partículas de bactérias e ajuda na eliminação de odores e poeira, tornando o ar ambiente mais limpo e saudável.</p>
                </div>
                <div class="col-md-6">
                    <img class="imgs" src="/imgs/eletro/ar-condicionados/Tcl/Filtro-HD-SilverIon1.webp" alt="">
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <img class="icone" src="/imgs/eletro/ar-condicionados/Tcl/Modo-Eco.webp" alt="">
                <p class="titles">Modo Eco</p>
                <p class="paragrafos">Proporciona maior economia de energia.</p>
            </div>
            <div class="col-md-6">
                <img class="imgs" src="/imgs/eletro/ar-condicionados/Tcl/Modo-Eco1.webp" alt="">
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6">
                <img class="icone" src="/imgs/eletro/ar-condicionados/Tcl/Modo-Silencio.webp" alt="">
                <p class="titles">Modo Silêncio</p>
                <p class="paragrafos">O aparelho funciona de forma silenciosa, garantindo o conforto. Nível de ruído menor que de uma biblioteca.</p>
            </div>
            <div class="col-md-6">
                <img class="imgs" src="/imgs/eletro/ar-condicionados/Tcl/Modo-Silencio1.webp" alt="">
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6">
                <img class="icone" src="/imgs/eletro/ar-condicionados/Tcl/Nao-Perturbe.webp" alt="">
                <p class="titles">Não Pertube</p>
                <p class="paragrafos">Apaga o display indicador, garantindo maior conforto em situações de baixa luminosidade.</p>
            </div>
            <div class="col-md-6">
                <img class="imgs" src="/imgs/eletro/ar-condicionados/Tcl/Nao-Perturbe1.webp" alt="">
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6">
                <img class="icone" src="/imgs/eletro/ar-condicionados/Tcl/Serpentina-de-cobre.webp" alt="">
                <p class="titles">Serpentina de cobre</p>
                <p class="paragrafos">Maior resistência e durabilidade da unidade externa, especialmente em ambientes salinos, prolongando a vida útil do aparelho.</p>
            </div>
            <div class="col-md-6">
                <img class="imgs" src="/imgs/eletro/ar-condicionados/Tcl/Serpentina-de-cobre1.webp" alt="">
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="/imgs/eletro/ar-condicionados/Tcl/icon6.webp" alt="">
                <p class="titles">Válido apenas para instalação com um técnico credenciado.</p>
                <p class="paragrafos">A ativação da garantia contratual e da garantia estendida concedidas pela fabricante do produto estão condicionadas aos termos e condições constantes no certificado de garantia.</p>
            </div>
            <div class="col-md-6">
                <img class="imgs" src="/imgs/eletro/ar-condicionados/Tcl/img21.webp" alt="">
            </div>
        </div>
    </div>

    <script>
        document.getElementById('mostrarLista').addEventListener('click', function() {
            document.getElementById('overlay').style.display = 'flex';
        });

        document.getElementById('fecharLista').addEventListener('click', function() {
            document.getElementById('overlay').style.display = 'none';
        });

        // Adiciona um evento de clique ao elemento de sobreposição
        document.getElementById('overlay').addEventListener('click', function(event) {
            if (!document.getElementById('lista').contains(event.target)) {
                document.getElementById('overlay').style.display = 'none';
            }
        });
    </script>

 

</body>
</html>
