<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imgs/LojasNossoLar.ico" type="image/x-icon">
    <title>TAC-18CSA2</title>
    <link rel="stylesheet" href="/styles/eletro/ar-condicionados/tabelaDeBtus.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">

        <div class="text-center">
            <div class="text-left containerBtus">
                <p>Está com dúvidas sobre qual ar condicionado escolher?<br>Encontre o modelo perfeito para manter seu espaço fresco e confortável durante o calor!</p>
            </div>
            <button id="mostrarLista" class="botao">Descubra agora!</button>
        </div>
        
        <div class="overlay" id="overlay">
            <div id="lista">
                <button id="fecharLista" class="btn btn-danger">x</button>
                <p class="paragrafoDaDica"><strong>Sabe o que significa BTU?</strong> É a medida da capacidade de refrigeração do ar condicionado. Confira a tabela abaixo para fazer a escolha certa na hora da compra.</p>
                <ul>
                    <li>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Tamanho do ambiente</th>
                                    <th >Sol da manhã</th>
                                    <th >Sol da tarde ou dia todo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>9 m²</td>
                                    <td>7.000 BTU/h</td>
                                    <td class="tdFinal">7.500 BTU/h</td>
                                </tr>
                                <tr>
                                    <td>12 m²</td>
                                    <td>7.500 BTU/h</td>
                                    <td class="tdFinal">9.000 BTU/h</td>
                                </tr>
                                <tr>
                                    <td>15 m²</td>
                                    <td>9.000 BTU/h</td>
                                    <td class="tdFinal">12.000 BTU/h</td>
                                </tr>
                                <tr>
                                    <td>20 m²</td>
                                    <td>12.000 BTU/h</td>
                                    <td class="tdFinal">18.000 BTU/h</td>
                                </tr>
                                <tr>
                                    <td>25 m²</td>
                                    <td>18.000 BTU/h</td>
                                    <td class="tdFinal">22.000 BTU/h</td>
                                </tr>
                                <tr>
                                    <td>30 m²</td>
                                    <td>23.000 BTU/h</td>
                                    <td class="tdFinal">24.000 BTU/h</td>
                                </tr>
                                <tr>
                                    <td>40 m²</td>
                                    <td>24.000 BTU/h</td>
                                    <td class="tdFinal">30.000 BTU/h</td>
                                </tr>
                                <tr>
                                    <td>50 m²</td>
                                    <td>31.000 BTU/h</td>
                                    <td class="tdFinal">36.000 BTU/h</td>
                                </tr>
                                <tr>
                                    <td>60 m²</td>
                                    <td>36.000 BTU/h</td>
                                    <td class="tdFinal">48.000 BTU/h</td>
                                </tr>
                                <tr>
                                    <td>70 m²</td>
                                    <td>42.000 BTU/h</td>
                                    <td class="tdFinal">58.000 BTU/h</td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <img style="width: 100%;"   src="/imgs/eletro/ar-condicionados/Tcl/TAC-18CSA2/Inverter-Frio-A2._pages-to-jpg-0001.webp"></img>
        <img style="width: 100%;" src="/imgs/eletro/ar-condicionados/Tcl/TAC-18CSA2/Inverter Frio A2._pages-to-jpg-0002.jpg"></img>
        <img style="width: 100%;" src="/imgs/eletro/ar-condicionados/Tcl/TAC-18CSA2/Inverter Frio A2._pages-to-jpg-0003.jpg"></img>
    </div>

    <script src="/js/eletro/ar-condicionados/tabeladeBtus.js"></script>
</body>
</html>